<%= form_for(@route) do |form| %>
  
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

 

  <div class="actions">
    <%= form.submit "#{@route.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
