<h1>Вагон № <%= @carriage.number %></h1>

<p>
	Поезд: <%= @carriage.train.number %>
</p>

<p>
	Верхгих сидений: <%= @carriage.top_seats %>
</p>

<p>
	Нижних сидений: <%= @carriage.botton_seats %>
</p>

<p>
	Верхних боковых: <%= @carriage.side_top_seats %>
</p>	

<p>

	Нижних боковых: <%= @carriage.side_top_seats %>
</p>

<%= link_to "Назад", [:admin, @carriage.train] %>